[submodule "Vendor/FunctionalTableData"]
	path = Vendor/FunctionalTableData
	url = git@github.com:Shopify/FunctionalTableData.git
[submodule "Vendor/ActionKit"]
	path = Vendor/ActionKit
	url = git@github.com:ActionKit/ActionKit.git
[submodule "Vendor/AKPickerView-Swift"]
	path = Vendor/AKPickerView-Swift
	url = git@github.com:jhonyourangel/AKPickerView-Swift.git
