<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ModalAudioUnit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>OSXInstrumentDemoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>OSXInstrumentDemoAppExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>OSXInstrumentDemoFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>SpectrumAudioUnit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>iOSInstrumentDemoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>iOSInstrumentDemoAppExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>iOSInstrumentDemoFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>iOSSpectrumApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOSSpectrumFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>306CFC861C5815010028386F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>306CFCAB1C582E0A0028386F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>306CFCD81C5841E40028386F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A10CC41B9521320081EA80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A10CF11B9521F50081EA80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
